* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* Banner */

main{
	
}

#banner{
	width: 100%;
	height: auto;
	background: url(../img/img-企业动态/banner.jpg) no-repeat;
	background-size: 100% 100%;
	text-align:center;
	font-size: 0;
	margin-top: 80px;
}
#banner-left, #banner-right{
	width: 12.8%;
	display:inline-block;
	overflow: hidden;
	position: relative;
}
#banner-left img, #banner-right img{
	position: relative;
	width: 100%;
	height: auto;
}
#banner-left img{
	right: -100%;
}
#banner-right img{
	left: -100%;
}

.blog {
  width: 100%;
  height: auto;
}

.blog .card {
  margin: 65px 75px;
  height: 274px;
  border: 1px solid lightgray;
  background-color: white;
  display: -ms-grid;
  display: grid;
  grid-template: 'a1 a2' 70px 'a1 a3' 144px 'a1 a4' 60px/241px 1fr;
}

.blog .card #d1 {
  grid-area: a1;
  position: relative;
}

.blog .card #d1 .year {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 2;
  min-width: 120px;
  /* line-height: 2px; */
  line-height: 35px;
  height: 35px;
  background-color: #0f6bb0;
  color: white;
  font-size: 18px;
  text-align: center;
}
.imgbox{
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
  width: 80%;
  height: 80%;
}
.blog .card #d1 img {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.blog .card #d1 img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog .card #d2 {
  grid-area: a2;
  overflow: scroll;
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog .card #d2 h2 {
  font-size: x-large;
}

.blog .card #d3 {
  grid-area: a3;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog .card #d4 {
  grid-area: a4;
  position: relative;
}

.blog .card #d4 #arrow {
  position: absolute;
  left: 30px;
  top: 8px;
}

.blog .card #d4 #circle {
  position: absolute;
  left: 20px;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.blog .card #d4 #circle:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.top-pic {
  position: relative;
}

.top-pic .animate {
  position: absolute;
  left: 38vw;
  width: 316px;
  height: 210px;
}

.top-pic .animate #ani1 {
  position: absolute;
  top: -3vh;
  width: 158px;
  height: 210px;
  overflow: hidden;
}

.top-pic .animate #ani1 img {
  position: absolute;
  left: 158px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.top-pic .animate #ani2 {
  position: absolute;
  top: -3vh;
  left: 158px;
  width: 158px;
  height: 210px;
  overflow: hidden;
}

.top-pic .animate #ani2 img {
  position: absolute;
  left: -158px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.top-pic .top-banner {
  width: 100%;
  height: 316px;
}

.top-pic .top-title {
  position: absolute;
  display: block;
  margin: 0 auto;
}

.mid-pic {
  position: relative;
}

.mid-pic img {
  width: 100%;
  height: auto;
}

/* .block hr {
  display: inline-block;
  width: 18vw;
  margin-left: 10px;
}

.block ul {
  display: inline-block;
}

.block ul li {
  display: inline-block;
  border: 1px solid lightgray;
  list-style: none;
  margin: 0 5vw;
  padding: 15px 28px;
  font-size: larger;
  font-weight: bold;
} */

/* Subtitle */
.subtitle{
	width: 100%;
	background-color: white;
}
.subtitle img{
	width: 100%;
}
#guidewordblock {
	text-align: center;
	max-width: 100%;
	height: auto;
	padding: 3%;
}
#guidewordblock p{
	display: inline;
	margin: 3%;
	padding:1%;
	border: 1px solid #DCDCDC;
}
#guidewordblock div:after, #guidewordblock div:before{
	position: absolute;
	margin-top: 0.7%;
	background: transparent;
	content: "";
	height: 0.45%;
	width: 25%;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
}
#guidewordblock div:before {
	border-left: 1px solid #DCDCDC;
	left: 5.7%;
}
#guidewordblock div:after {
	border-right: 1px solid #DCDCDC;
	right: 5.7%;
}

#zixun {
  position: fixed;
  right: 0;
  width: 150px;
  height: 50px;
}

nav {
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  list-style: none;
}

nav ul li {
  border: 1px solid gray;
  padding: 8px 15px;
  margin-left: 10px;
}

nav ul#go {
  position: absolute;
  top: 0px;
  right: 70px;
  font-size: large;
}

nav ul#go li {
  padding: 12px 17px;
  cursor: pointer;
}

nav ul#go li #goNum {
  width: 30px;
}
