/* Font Style */
*{
	margin: 0;
	padding: 0;
}
.color1{
	color: #979797;
}
.color2{
	color: #337ab6;
}
.font1{
	font-family: simsun; 
	font-weight: bold;
}
.font2{
	font-family: sans-serif;
	font-weight: bold;
}
.size1{
	font-size: 125%;
}
.size2{
	font-size: 160%;
}
.size3{
	font-size: 90%;
}
.size4{
	font-size: 115%;
}
.size5{
	font-size: 180%;
}
.height1{
	line-height: 30px;
}
.height2{
	margin-bottom: 0.5%;
}
.height3{
	margin-bottom: 0%;
}
.height4{
	margin-bottom: 1%;
}
#hr-style1{
	margin-left: 6.5%; 
	margin-right: 6.5%;
}
#hr-style2{
	width: 10%;
	margin-top: 3%;
	margin-bottom: 4%;
	background-color: white; 
	height: 0.6%; 
	border: none;
}

.index_font1{
	font-size: 25%;
	margin-bottom: 0;
	color: #fff;
}

.index_font2{
	font-size: 15%;
	margin-bottom: 0;
	/* font-weight: bold; */
	color: #fff;
	/* border: 1px solid green; */
}

.font_bold{
	font-weight: bold;
}

.index_font3{
	font-size: 20%;
	margin-bottom: 0;
	/* font-weight: bold; */
	color: #fff;
	/* border: 1px solid green; */
}

.index_font4{
	font-size: 25%;
	margin-bottom: 0;
	/* font-weight: bold; */
	color: #000;
}

.index_font5{
	font-size: 20%;
	margin-bottom: 0;
	/* font-weight: bold; */
	color: #B5B5B5;
}